div {
    color: blue;
    font-weight: bold;
    font-family: '宋体';
    font-size: 30px;
    background-image: url("../666.png");
    width: 300px;
    height: 300px;
    background-size: cover;
    border: 1px red solid;
    border-radius: 150px;
}